* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e7e7e7;
  padding-top: 100px;
}

header {
  display: flex; /* elementos um ao lado do outro */
  align-items: center; /* elementos alinhados na vertical*/
  margin-bottom: 40px; /* separa o header do formulário*/
}

header img {
  height: 70px;
  margin-right: 40px;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

.conteiner {
  /* pega-se uma class com o . */
  max-width: 960px;
  width: 100%; /* conteiner vai ocupar 100% até 960px (vai ficar centralizado)*/
  margin: 0 auto; /* centraliza na horizontal*/
}

form {
  display: contents;
  max-width: 720px;
  width: 100%;
  justify-content: space-between; /* uniformiza o espaçamento entre os elementos */
  margin-bottom: 80px; /* adiciona espaço entre o form e a tabela */
}

form input {
  font-size: 24px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #000;
  padding: 8px;
  margin-right: 8px;
}

form button {
  background-color: #002c94;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer; /* o ponteiro muda para a mãozinha*/
  padding: 8px;
}

table {
  width: 100%; /* tabela passa a ocupar 100% da largura do conteiner */
  margin-top: 30px;
}

table th {
  border-bottom: 2px solid #000;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}

table td {
  padding: 16px 0; /* Altera a altura da célula */
  text-align: center; /* alinha os textos nas células da tabela */
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0); /* Adiciona borda inferior nas células*/
  border-right: 2px solid rgba(0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0);
}
